div {
    margin: 5px;
}

label {
    display: inline-block;
    width: 70px;
}
.error {
    color: red;
}

input.ng-invalid.ng-touched, input.ng-invalid.ng-dirty, select.ng-invalid.ng-touched, select.ng-invalid.ng-dirty {
    border: 1px solid red;
}

input.ng-valid.ng-touched, input.ng-valid.ng-dirty, select.ng-valid.ng-touched, select.ng-valid.ng-dirty {
    border: 1px solid green;
}